*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}


.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

li{
    list-style: none;
}

.hamburger-icon{
    display: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

/* header section */
header{
    background-color: #1A0B2E;
    width: 100%;
}

.header-container{
    max-width: 75%;
    margin: 0 auto;
}

/* navbar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}

.logo{
    font-size: 2em;
    font-weight: bolder;
    color: white;   
}

.logo span{
    background: linear-gradient(45deg,#F7E93F,#FB09B4,#9100F8);
    background-clip: text;
    color: transparent;

}

nav .links{
    display: flex;
    list-style: none;
    gap: 32px;
    font-size: 16px;
}

nav .links a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

nav .btn button{
    font-size: 16px;
    background: linear-gradient(45deg,#F7E93F,#FB09B4,#9100F8);
    border-radius: 10000px;
    color: white;
    padding: 12px 16px;
    border: none;
}

nav .btn a{
    color: white;
}



/* hero section */

.hero-section{
    background: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-section .hero-container{
    padding: 101px 0;
    max-width: 75%;
    margin: 0 auto;
    text-align: center;
    
}
.mic-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mic-container .circle{
    width: 170px;
    height: auto;
    position: relative;
}
.mic-container .mic{
    width: 70px;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.mic-container span{
    background-color: #00ff88;
    color: black;
    font-weight: 800px;
    padding: 6px 15px;
    border-radius: 20px;
    display: inline-block;
    position: absolute;
    left: 53%;
    top: 0;
}

.hero-container .text h1{
    color: #ffffff;
    font-size: 60px;
    margin-bottom: 8px;
}

.hero-container p{
    color: white;
    margin-bottom: 24px;
}

.hero-container .btn{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.hero-container .btn #btn1{
    background: linear-gradient(45deg,#F7E93F,#FB09B4,#9100F8);
    padding: 12px 20px;
    border: none;
    border-radius: 100000px;
    color: white;
    font-weight: 700;
}
#btn2 i{
    color: #00FF88;
}
.btn #btn1 a{
    color: white;
}
#btn2 a{
    color: #00FF88;
}

.hero-container .btn #btn2{
    text-decoration: none;
    background: transparent;
    padding: 12px 20px;
    border: 1px solid #00FF88;
    border-radius: 100000px;
    
    font-weight: 700;
}

/* about section */
.about{
    background-color:#1A0B2E;
    width: 100%;
}

.about-container{
    margin: 0 auto;
    text-align: center;
    max-width: 75%;
    padding: 50px 0 120px;
}

.about-container .text{
    color: white;
}

.about-container .text h1{
    font-size: 48px;
    margin-bottom: 16px;  
}
.about-container .text p{
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 80px;
}

.about-container hr{
    margin-bottom: 80px;
    stroke-width: 1px;
}

.about-container ul{
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
}

.about-container .stats h1{
    color: #00FF88;
    font-size: 48px;
    margin-bottom: 16px;
}

.about-container .stats p{
    color: white;
    font-size: 16px;
}

/* grid section */

.grid-section{
    background-color: #230E3D;
    padding: 120px 0;

}

.grid-container{
    color: white;
    text-align: center;
    width: 75%;
    margin: 0 auto;
    
}

.grid-container h1{
    font-size: 48px;
    margin-bottom: 40px;
}

.grid{
    text-align: left;
    display: grid;
    gap: 30px;
    justify-content: center;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}

.box{
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    padding: 40px;
    align-content: center;
}

.box img, h3{
    font-size: 24px;
    margin-bottom: 16px;
}

.box p{
    font-weight: 300;
    line-height: 24px;
}


.big-box{
    grid-row: span 2;
}

.long-box{
    grid-column: span 2;
}

